html *{
    font-family: Arial, Helvetica, sans-serif
}

html{
    background-image: url("./imgs/abstract.jpg");
    background-position: center;
    /* background-size: cover; */
}

.screen{
    padding: 50px;
    margin-left: 7vh;
    /* margin-right: 15vh; */
}

.screen{
    display: flex;
    flex-direction: row;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    background-color: black;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.title{
    background-color: rgb(14, 27, 144);
    height: 30px;
    width: 160px;
    text-align: center;
    padding-top: 15px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    margin-top: 90px;
    box-shadow: 2px 2px 2px 2px rgb(127, 128, 134);
}

.description{
    background-color: white;
    text-align: center;
    color: black;
    height: 70px;
    width: 300px;
    margin: 40px 40px 0;
    padding: 20px;
    border-radius: 3px;
    line-height: 25px;
}


.instructions{
    background-color: white;
    text-align: center;
    color: black;
    height: 120px;
    width: 300px;
    margin-top: 70px;
    padding: 20px;
    border-radius: 3px;
    line-height: 25px;
}

/* .right-container{
    height: 650px;
    width: 840px;
    position: relative;
    background-color: teal;
    overflow: hidden
} */

#canvas{
    background-color: rgba(21, 23, 29);
    border-radius: 4px;
}

.score{
    position: absolute;
    background-color: orange;
    border-radius: 4px;
    width: 200px;
    height: 25px;
    text-align: center;
    top: 15px;
    left: 1010px;
    padding-top: 10px;
}

.restart{
    position: absolute;
    color: white;
    background-color: rgb(14, 27, 144);
    border-radius: 4px;
    height: 35px;
    text-align: center;
    top: 15px;
    left: 1215px;
    padding-top: 5px;
}

.restart:hover{
    background-color: rgb(7, 14, 77);
}

.game-over{
    position: absolute;
    font-weight: 400;
    font-size: 25px;
    color: black;
    background-color: orange;
    border-radius: 4px;
    width: 500px;
    height: 80px;
    text-align: center;
    top: 250px;
    left: 750px;
    padding-top: 45px;
    box-shadow: 3px 3px 6px 5px rgb(3, 4, 27);
}

.game-over-2{
    position: absolute;
    font-weight: 400;
    font-size: 25px;
    color: black;
    background-color: orange;
    border-radius: 4px;
    width: 500px;
    height: 80px;
    text-align: center;
    top: 450px;
    left: 750px;
    padding-top: 45px;
    box-shadow: 3px 3px 6px 5px rgb(3, 4, 27);

}

.entity{
    display: none;
}

.intruction-title{
    font-weight: 800;
}
